
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/registrations/form", f: f, button_text: "Sign Up" %>
<% end %>


<%= render "devise/shared/links" %>
